	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/04/2017 08:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.html");
  src: url("../fonts/Flaticond41d.html?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon-2.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon-2.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add-circular-outlined-button:before { content: "\f100"; }
.flaticon-add:before { content: "\f101"; }
.flaticon-plus-black-symbol:before { content: "\f102"; }
.flaticon-plus:before { content: "\f103"; }
.flaticon-speech-bubbles-comment-option:before { content: "\f104"; }
.flaticon-comments:before { content: "\f105"; }
.flaticon-medical-9:before { content: "\f106"; }
.flaticon-medical-8:before { content: "\f107"; }
.flaticon-medical-7:before { content: "\f108"; }
.flaticon-medical-6:before { content: "\f109"; }
.flaticon-medical-5:before { content: "\f10a"; }
.flaticon-shapes:before { content: "\f10b"; }
.flaticon-two:before { content: "\f10c"; }
.flaticon-medical-4:before { content: "\f10d"; }
.flaticon-bone:before { content: "\f10e"; }
.flaticon-human-fetus:before { content: "\f10f"; }
.flaticon-medical-3:before { content: "\f110"; }
.flaticon-medical-2:before { content: "\f111"; }
.flaticon-medical-1:before { content: "\f112"; }
.flaticon-cardiogram:before { content: "\f113"; }
.flaticon-cardiology:before { content: "\f114"; }
.flaticon-brain-1:before { content: "\f115"; }
.flaticon-brain:before { content: "\f116"; }
.flaticon-brain-upper-view-outline:before { content: "\f117"; }
.flaticon-molar-with-heart:before { content: "\f118"; }
.flaticon-teeth-care:before { content: "\f119"; }
.flaticon-medical:before { content: "\f11a"; }
.flaticon-human-brain:before { content: "\f11b"; }
.flaticon-clock-1:before { content: "\f11c"; }
.flaticon-clock:before { content: "\f11d"; }
.flaticon-clock-circular-outline:before { content: "\f11e"; }
.flaticon-time:before { content: "\f11f"; }
.flaticon-discuss-issue:before { content: "\f120"; }
.flaticon-staff-symbol:before { content: "\f121"; }
.flaticon-shopping-3:before { content: "\f122"; }
.flaticon-shopping-2:before { content: "\f123"; }
.flaticon-tag:before { content: "\f124"; }
.flaticon-commerce:before { content: "\f125"; }
.flaticon-shopping-1:before { content: "\f126"; }
.flaticon-shopping:before { content: "\f127"; }
.flaticon-doctor:before { content: "\f128"; }
.flaticon-medical-doctor-specialist:before { content: "\f129"; }